.gif{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &-item{
    width: 200px;
    height: 200px;
    margin: 10px;
  }
  img{
    width: 100%;
    height: 100%;
  }
  i{
    cursor: pointer;
    position: relative;
    left: 170px;
    bottom: 30px;
    font-size: 26px;
    color: red;
  }
}
